*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landingpage{
    display: grid;
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'hero hero hero hero hero hero'
    'komen komen komen komen komen komen'
    'footer footer footer footer footer footer';
}

.nav{
    grid-area: nav;
    padding-top: 20px;
    position: sticky;
    top: 0;
    background-color: #e4e4e4;
}

.nav img{
    width: 170px;
    float: left;
    
}

.nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    margin-left: 50px;
    padding-top: 8px;
    
}

.nav input{
    border-radius: 20px;
    height: 30px;
    padding-left: 20px;
    margin-left: 100px;
    width: 30%;
    font-size: 17px;
    background-color: transparent;
}

.nav button{
    border-radius: 15px;
    background-color: transparent;
    font-size: 15px;
    width: 6%;
    height: 30px;
    float: right;
    margin-right: 6=px;
}
/* bagian navbar bos */


.hero{
    grid-area: hero
    
}

.hero h1{
    font-family: 'Baloo Paaji 2', sans-serif;
    margin-left: 50px;
    margin-top: 70px;
    font-size: 50px;
}

.paragraf1{
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.paragraf2{
    margin-left: 470px;
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;  
    margin-top: 20px;
}
.paragraf2 .kontol{
    margin-bottom: 200px;
}
.hero img{
   
    margin-left: 50px;
    width: 400px;
 margin-top: -100px;
 margin-bottom: 200px;
}

.komen{
    background-color: transparent;
    width: 30%;
    border-radius: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    margin-left: 70px;
    bottom: 50px;
    grid-area: komen;
}

.komen button{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    width: 130px;
    height: 50px;
    margin-left: 950px;
    bottom: 150px;
    border-radius: 15px;
    font-style: italic;
}

.footer{
    grid-area: footer;
    background-color: #949494;
    height: 70px;
}